@import url('https://fonts.googleapis.com/css2?family=Erica+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Six+Caps&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Vina+Sans&display=swap');

/* color pallete https://coolors.co/1c3144-596f62-7ea16b-c3d898-70161e */

body {
    background-color: #1C3144;
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 100vh; /* Full viewport height */
    background-image: url(blue-marvel-comics-superheroes-avengers-1920x1080.png);
    background-size: cover;       
    background-position: center; 
    background-repeat: no-repeat;

}



h1 {
  font-family: "Erica One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  color: #9e252f;
  text-align: center;
  text-shadow: 4px 4px black;
}

h2 {
    color: #C3D898;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 4px 4px black;

}

#changeBtn {
    color: #1C3144;
    background-color: #7EA16B;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    width: 250px;
    height: 50px;
    border-radius: 225px;
    margin-top: 250px;
    font-weight: bold;
}

.hover-pointer {
    cursor: pointer;
}